.card-actions {
  display: flex;
  justify-content: flex-end;
}

.mat-paginator {
  width: 100%;
}

.edit-btn {
  background-color: lightblue !important;
  color: #2f2f2f !important;

}

.delete-btn {
  background-color: lightcoral !important;
  color: #fff;
}

.mat-mdc-header-row {
  background-color: grey;
  /*color: #fff;*/
}

.card-title {
  padding-bottom: 20px;
}
